.panda-bg-info{
    background-color: #fceae8;
}
.panda-button-buy-now{
    background-image: linear-gradient(to bottom,#FF589B 0%,#FF589B 100%);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}